#container{
    width: 100%;
}
.display-none{
    display: none;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
video {
    width: 500px;
    transform: translate(-50%);
    margin-left: 50%;
}
.full-width{
width: 100%
}
.text-center{
text-align: center;
}
.margin-top{
    margin-top:500px; 
}
